@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  background-image: linear-gradient(to bottom right, #F9C976,#DB2B7B, #733BBB);
  background-attachment: fixed;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}

.customShadow{
  box-shadow: 4px 4px 8px #F3ABA3 inset, -4px -4px 8px #00000011 inset ;
}

.customAnimation{
  animation: scale linear;
  animation-timeline: view(y);
  animation-range: cover 0% cover 100%;
}

@keyframes scale {
  from{
    transform: scale(0.75);
  }
  to {
    transform: scale(0.75);
  }
  0% {
    transform: scale(0.875);
    opacity: 0.4;
  }
  25% {
    transform: scale(0.75);
    opacity: 0.6;
  }
  50% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(0.875);
    opacity: 0.6;
  }
  100% {
    transform: scale(0.75);
    opacity: 0.4;
  }
}